    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }

    /*body {
      background-color: red;
    }*/

    a {
      color: #434343;
    }

    a:hover {
      color: #42C8F5;
    }

p {
    font-family: 'Open Sans', sans-serif;
  }

  h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 4.5em;
    white-space: nowrap;
    overflow: hidden;
  }

  .top-section {
    background-color: #434343;
    color: #F8F8FF;
    padding: 50px 0px 50px 0px;
  }

  .top-section h2 {
    color: #C0C0C0;
    white-space: nowrap;
    overflow: hidden;
  }

  .top-section img {
    margin: 10px
  }

  .mid-top-section {
    padding-top: 120px;
  }

  .bg-4 {
    background-color: #F5F5F5;
  }

  .img-responsive{
  max-width: 100%;
  height: auto;
  }

  @media all and (max-width: 1200px) { /* screen size until 1200px */
    .mid-top-section {
        font-size: 1.5em; /* 1.5x default size */
    }
  }
  @media (max-width: 1000px) { /* screen size until 1000px */
    .mid-top-section h1 {
        font-size: 2.3em; /* 1.2x default size */
        }
    }
  @media (max-width: 500px) { /* screen size until 500px */
    .mid-top-section h1 {
        font-size: 1.6em; /* 0.8x default size */
        }
    }

  @media all and (max-width: 500px) { /* screen size until 500px */
    .mid-top-section h2 {
        font-size: 0.7em; /* 0.8x default size */
        }
    }

  @media all and (max-width: 500px) { /* screen size until 500px */
    .mid-top-section {
        padding-top: 10px; /* 0.8x default size */
        }
    }

  @media all and (max-width: 1000px) { /* screen size until 1000px */
    .mid-top-section {
        padding-top: 10px; /* 1.2x default size */
        }
    }